:root {
	--global-site-max-width: 940px;

	@media (width < 600px) {
		--global-site-margin: 20px;
	}
	@media (width >= 600px) {
		--global-site-margin: 60px;
	}
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}