.sitePage {
	font: 18px "Roboto";
	line-height: 1.5;
	color: #333;
	margin: 0 0 4rem;
}

.sitePage h1 {
	color: #000;
}

.sitePage :is(h2, h3, h4, h5, h6) {
	color: #111;
	font-size: 1em;
}

.sitePage :is(h1, h2, h3, h4, h5, h6) {
	:not(&) + & {
		&:not(:first-child) {
			margin-top: 3em;
		}
	}
}

.sitePage p:empty {
	display: none;
}

.sitePage p a:not(:has(img)) {
	text-decoration: inherit;
	font-weight: 500;
	color: inherit;
	border-bottom: 2px solid #eee;
	transition-duration: 200ms;
	transition-property: filter;
	&:hover {
		filter: contrast(0.8);
	}
	&:active {
		filter: brightness(0.8);
	}
}

.sitePage figure {
	display: inline-flex;
	flex-direction: column;
	gap: 0.5em;
	margin: 1em 0;
	:is(img, video) {
		box-sizing: border-box;
		padding: 10px;
		max-width: 100%;
		height: auto;
		border: 1px solid #eee;
		@media (width < 600px) {
			padding: 5px;
		}
	}
	figcaption {
		font-size: 0.8em;
		font-style: italic;
		line-height: 1.5;
		color: #999;
	}
}

/* External links */
.sitePage p a[rel="external"]::after {
	content: "";
	width: 0.75em;
	height: 0.75em;
	margin: 0 4px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	filter: invert(1) brightness(0.6);
}

/* Code blocks */
.sitePage p > code {
	display: inline-block;
	font: 1em monospace;
	padding: 0 0.5em;
	margin: 0 0.25em;
	background: #f9f9f9;
	border: 1px solid #eee;
}

.sitePage p > samp {
	display: inline-block;
	font: italic 1em monospace;
	padding: 0 0.5em;
	margin: 0 0.25em;
	background: #f9f9f9;
	border: 1px solid #eee;
}

.sitePage pre:not(.astro-code) {
	font: 0.85em monospace;
	line-height: 1.5em;
	padding: 1em 2em;
	margin: 1em 0;
	border: 3px solid #eee;
	background: #f9f9f9;
	color: #666;
}

.sitePage .astro-code {
	min-width: 100%;
	font: 16px monospace;
	line-height: 1.5;
	background: #222;
	color: #eee;
	padding: 2em;
	box-sizing: border-box;
	> code {
		outline: none;
	}
}

/* Footnotes */
.sitePage sup {
	line-height: 0;
}

.sitePage sup a {
	font-weight: 400 !important;
	font-size: 0.8em;
	border: 0 !important;
	letter-spacing: 1px;
	&::before {
		content: "[";
	}
	&::after {
		content: "]";
	}
}

.sitePage section.footnotes {
	margin-top: 2em;
}

.sitePage .footnotes .data-footnote-backref {
	border: 0;
}